body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Mushroom%27s_roots_%28myc%C3%A9lium%29.jpg');
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: move;
    animation-direction: alternate;
}

@keyframes move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 100vw;
    }
}